<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Try-Catch Boundary Testing</title>
    <link rel="stylesheet" type="text/css" href="/static/style/style.css"/>
</head>
<body style="background-color: #d7ccc8">
<div id="container"></div>
</body>

<script src="/static/lib/jquery.min.js"></script>
<script src="/static/lib/lodash.min.js"></script>
<script src="/static/lib/backbone.min.js"></script>
<script src="/static/lib/pretty-json.min.js"></script>
<script src="/static/dist/vendor.js"></script>
<script src="/static/dist/index.js"></script>
</html>